doctype html
html
	head
		meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
		title #{title}
		link(rel='stylesheet', href='/stylesheets/3dmap.css')
		script(type='text/javascript', src='js/google-analytics.js')
		script(type='text/javascript', src='js/jquery-2.1.1.min.js')
	body
		#webgl
		script(type='text/javascript', src='js/three.min.js')
		script(type='text/javascript', src='js/TrackballControls.js')
		script(type='text/javascript', src='js/TerrainLoader.js')
		script(type='text/javascript', src='js/3dmap.js')
