doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
		script(type='text/javascript', src='js/jquery-2.1.1.min.js')
		script(type='text/javascript', src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
		script(type='text/javascript', src='js/digitraffic/digitraffic.js')
	body
		#digitraffic_page(data-role='page')
			#header(data-role='header')
				h1 #{title}
			#main_content(data-role='content')
				#result_set(data-role='collapsibleset', data-iconpos='right')
			#footer(data-role='footer')
				h4 Erno M&auml;akinen
				