doctype html
html(lang='fi')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-table.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
		link(rel='stylesheet', href='/stylesheets/leaflet.css')
		link(rel='stylesheet', href='/stylesheets/geostat.css')
		link(rel='stylesheet', href='/stylesheets/leaflet-search.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-colorpicker.min.css')
		script(type='text/javascript', src='js/google-analytics.js')
		script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-543c2c74433d972d', async)
	body(role='document')
		#content(class='container-fluid theme-showcase', role='main')
		
			ul(class="nav nav-tabs top-nav-tab", role="tablist")
				li
					span(class='top-nav-title-span') #{title}
				li(class='active')
					a(href='#home', role='tab', data-toggle='tab', class='tab_switch_a') Kartta ja tilastot
				li
					a(href='#data_selections_div', role='tab', data-toggle='tab', class='tab_switch_a') Näytettävät aineistot
				li
					a(href='#about', role='tab', data-toggle='tab', class='tab_switch_a') Sovelluksesta
				li
					#spinner_container
						#spinner
				li
					#addthis_container
						div(class="addthis_sharing_toolbox ")

			div(class='tab-content')
				#home(class='tab-pane active map_pane')
					div(class="panel panel-default map_panel")
						div(class="panel-body map_panel_body")
							
							#map_row(class='row map_row')
								#map_wrapper
									#map_canvas
				
									#button_wrapper
										button(type='button', class='btn btn-primary', id='area_edit_button', disabled='disabled' data-toggle='modal' data-target='#area_edit_modal') Muokkaa aluetta
										button(type='button', class='btn btn-primary', id='delete_button', disabled='disabled') Poista valitut alueet
										button(type='button', class='btn btn-primary', id='delete_all_button', disabled='disabled') Poista kaikki alueet
				
										div(class='btn-group' data-toggle='buttons' id='area_buttons_div')
											span(id='area_buttons_label') Lisättävän alueen muoto:
											a(href="#" id='area_circle_button')
												img(id='area_circle_button_img' src='images/primary_box_button_active_circle.png' alt='ympyrä')
											a(href="#" id='area_rectangle_button')
												img(id='area_rectangle_button_img' src='images/primary_box_button_rectangle.png' alt='suorakulmio')
												
							#chart_row(class='row chart_row')
								#chart_container
					
				#data_selections_div(class='tab-pane')
					div(class="panel panel-default")
						div(class="panel-body")
							
							#data_selections_table(data-click-to-select="true")
								
				#about(class='tab-pane')
					div(class="panel panel-default")
						div(class="panel-body")
				
							h3 Sovelluksen tarkoitus
				
							p Sovellus mahdollistaa kaupunkilaisille Tampereen eri aluiden vertailun hyödyllisesti joskin sekä hyvässä että pahassa mielessä melko kevyesti. Sovellus ei yritä olla GIS-ammattilaisille suunnattu työkalu tai tieteellinen tilastoanaysointiväline eikä sitä tulisi sellaisiin verrata.
							
							p Kaupunkilaisten vaikutusmahdollisuudet kasvavat, kun he voivat tutkia kaupungin aluiden eroja. Sovelluksesta voi olla myös hyötyä vaikkapa asunnon ostoa harkitsevalle, kun hän miettii mille alueelle tai mihin katuosoitteeseen kannattaisi muuttaa.
					
							h3 Sovelluksen lähdekoodi
							
							p Lähdekoodi on julkaistu 
								a(href="https://github.com/ernoma/GeoStatTampere" target="_blank") GitHubissa.
					
							h3 Sovellus hyödyntää mm.:
							
							ul
								li Tampereen kaupungin aineistoa, 2014, 
									a(href="http://data.tampere.fi/" target="_blank") data.tampere.fi, 
									a(href="http://www.tampere.fi/tampereinfo/avoindata/avoindatalisenssi.html" target="_blank") lisenssi
								li Maanmittauslaitoksen ortoilmakuva-aineistoa, 2014, 
									a(href="http://www.maanmittauslaitos.fi/avoindata_lisenssi_versio1_20120501" target="_blank") lisenssi, 
									span TMS-palvelin: 
									a(href="http://kartat.kapsi.fi/" target="_blank") kartat.kapsi.fi.
								li OKF.fi Geocoder API:a, 
									a(href="http://api.okf.fi/console/" target="_blank") testi-konsoli, 
									a(href="http://books.okf.fi/geocoder/johdanto/" target="_blank") käyttöohjeet, 
									a(href="https://github.com/rekola/okffi-geocoder" target="_blank") lähdekoodi.
									
		#footer
			ul(class="hidden")
				li julkinen / kavereille jaettava vertailu (permalink)
				li älä hukkaa tietoja pois siirtyessä tai vähintäänkin varoita tietojen häviämisestä
				li download kartta ja tilastot pdf-muodossa
				li
					del useamman vertailtavan alueen valinta
				li muokkaa valittua aluetta
				ul
					li
						del väri
					li
						del koko
					li muoto
					li
						del poista (onnistuu myös del ja backspace näppäimillä)
				li
					del google analytics
				li vertailun tallennus - vaatinee käyttäjätunnuksen
				li
					del käytä leaflettia tai openlayersia
				li
					del bootstrap
				li
					del vaihda keskikohtaa
				li
					del vaihda matkaa
				li vaihda matkan yksiköitä
				li valitse
					del ympyrän sijaan laatikko tai
					span mielivaltainen alue
				li
					del valitse näytettävät asiat
				li 
					del näytettäville asioille jaottelu
				ul
					li
						del jaottelu kaupungin yksikön mukaan
					li
						del jaottelu teeman mukaan, esim. liikenne, luonto tai vapaa-aika
				li kartan visualisoinnit järkeviksi
				ul
					li heatmap, polygoni, pin, yms. sopiviin kohtiin oletuksena
					li anna käyttäjän valita visualisointi
				li
					del tarkista, että filterin distance-unitit on metrejä
				li valittavissa haluaako vanhan valinnan jäädä yhdessä uuden kanssa tai vieläkin vanhempien
				li matemaattiset joukko-operaatiot: cut, yms.
				li näytä kaikki asiat tietystä tai kaikista kategorioista ilman etäisyys, tms. rajoitusta
				li voi sisältää myös Suomen tai muiden kuin Tampereen tietoja, jos tamperelaiselle hyödyllisiä
				li seurausmahdollisuus käyttäjän paikalle
				li näytä kartta maximoituna halutessa
				li
					del osoitehaku
				li käsittele virhetilanteet, esim. palvelimelta tai navici-palvelimelta ei saada dataa
				li
					del zoomaa ilmakuva-taso, kun käyttäjä valitsee sen, jos sen hetkisellä zoomauksella ei voi näyttää
				li jonkinlainen walkthrough
				ul
					li miten voi lisätä ensimmäisen alueen
					li miten voi lisätä toisen alueen
					li alueen liikuttaminen
					li aluiden muokkaus
					li näytettävien tietojen muokkaus
				li 3d-kartta
				li corolepth-kartta (highmaps?)
				li näytä tilastot suuralueittain, suunnittelualueittain, jne.
				li
					del alueen nimeämismahdollisuus
				li alueen poistossa varoitus, että ei voi perua tai aina parempi, jos undo
				li drill-in chart
				li
					del tampereen opaskartta ja kantakartta
				li
					del alueen lat ja lon vähintäänkin näkyviin, jos ei olisikaan muokattavissa dialogissa
				li del-nappula 
					del edit-dialogissa ja yleensäkin muualla kuin karttanäkymässä ei poista valittuja alueita
					span  poistaa aina karttasivulla
				li muutkin kunnat läheltä kuin Tampere geocoding-kutsuihin
				li cacheta data
				li
					del korjaa taulukon päivitys
				li
					del korjaa getjson-pyynnön teko drag-end eventillä
				li
					del mahdollista kartan ja kaavion kokojen muuttaminen pystysuunnassa
				li
					del chartissa näytetään oikea teksti, kun alueita on mutta ei valittuja kategorioita
				li
					del lisää näytettäviä tietoja hover-eventeissa
				ul
					li
						del koko alueen keski-markkerin kohdalla
					li
						del tiedot alueen pathin kohdalla
				li
					del jos history.popeventissä locationista ei löydy jotakin parametria, joka oli edellisellä kerralla, niin aseta se oletusasetuksiin
				li korjaa bugit:
				ul
					li Ei voi valita "muokkaa aluetta", jos se ladataan url-locationista
					li resize marker ei liiku, kun kokoa muuttaa dialogista
					li resize marker ei liiku ladattaessa historysta
		
		#area_edit_modal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="area_edit_label" aria-hidden="true")
			div(class="modal-dialog modal-sm")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal")
							span(aria-hidden="true") &times;
							span(class="sr-only") Peruuta
						h4(class="modal-title" id="area_edit_label") Muokkaa valittua aluetta
					div(class="modal-body")
						form(class="form-horizontal" role="form")
							div(class="form-group")
								label(for="area_edit_name" class="col-sm-4 control-label") Nimi
								div(class="col-sm-8")
									input(type="text" class="form-control" id="area_edit_name" placeholder="")
							div(class="form-group")
								label(for="area_edit_color" class="col-sm-4 control-label") Väri
								div(class="col-sm-8")
									#color_picker_div(class="input-group")
										input(type="text" id="area_edit_color" value="#ffffff" class="form-control")
										span(class="input-group-addon")
											i  
								
							#area_edit_circle_size_div(class="form-group")
								label(for="area_edit_radius" class="col-sm-4 control-label") Säde
								div(class="col-sm-8")
									div(class="form-group row")
										div(class="col-sm-8")
											input(type="number" class="form-control" min="1" id="area_edit_radius" placeholder="")
										div(class="col-sm-2")
											label(class="col-sm-12 control-label area_edit_radius_label") metriä
							#area_edit_rectangle_size_div(class="form-group")
								label(for="area_edit_width" class="col-sm-4 control-label") Leveys
								div(class="col-sm-8")
									div(class="form-group row")
										div(class="col-sm-8")
											input(type="number" class="form-control" min="1" id="area_edit_width" placeholder="")
										div(class="col-sm-2")
											label(class="col-sm-12 control-label area_edit_radius_label") metriä
								label(for="area_edit_height" class="col-sm-4 control-label") Korkeus
								div(class="col-sm-8")
									div(class="form-group row")
										div(class="col-sm-8")
											input(type="number" class="form-control" min="1" id="area_edit_height" placeholder="")
										div(class="col-sm-2")
											label(class="col-sm-12 control-label area_edit_radius_label") metriä
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Peruuta
						button(type="button" class="btn btn-primary" id="area_edit_save_button" data-dismiss="modal") Tallenna muutokset
						
		script(type='text/javascript', src='js/jquery-2.1.1.min.js')
		script(type='text/javascript', src='js/jquery-ui.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/bootstrap-table.min.js')
		script(type='text/javascript', src='js/leaflet.js')
		script(type='text/javascript', src='js/highcharts.js')
		script(type='text/javascript', src='http://code.highcharts.com/modules/no-data-to-display.js')
		//script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')
		script(type='text/javascript', src='js/proj4.js')
		script(type='text/javascript', src='js/leaflet-search.min.js')
		script(type='text/javascript', src='js/bootstrap-colorpicker.min.js')
		script(type='text/javascript', src='js/spin.min.js')
		script(type='text/javascript', src='js/api_keys.js')
		script(type='text/javascript', src='js/geostat/tredatatypes.js')
		script(type='text/javascript', src='js/geostat/category.js')
		script(type='text/javascript', src='js/geostat/geochart.js')
		script(type='text/javascript', src='js/geostat/statarea.js')
		script(type='text/javascript', src='js/geostat/geostat.js')
		script(type='text/javascript', src='js/geostat/geomath.js')
		script(type='text/javascript', src='js/geostat/mapcontrols.js')
		script(type='text/javascript', src='js/geostat/geohistory.js')
		