doctype html
html(lang='fi')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}
		link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
		link(rel='stylesheet', href='/stylesheets/heat_test.css')
	body
		h1 #{title}
			
		#map_canvas
			
		script(type='text/javascript', src='js/jquery-2.1.1.min.js')
		script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
		script(type='text/javascript', src='js/heatmap.min.js')
		script(type='text/javascript', src='js/leaflet-heatmap.js')
		script(type='text/javascript', src='js/heat_test.js')
		