
html, body, #content
	height 100%

.tab-content
	height calc(100% - 80px)
	
.top-nav-tab
	margin-top 10px
	
.top-nav-title-span
	line-height 2em
	vertical-align middle
	height 1.5em
	padding-right 40px
	padding-left 40px
	font-size 1.5em

#spinner_container
	position relative
	top 20px
	margin-left 20px
	
.map_pane, .map_panel, .map_panel_body
	height 100%
	
.map_row
	height 50%
	
.chart_row
	height 50%
	
#map_wrapper
	height 100%
	width 100%
	position relative
	border 1px solid black

#map_canvas
	height 100%

#button_wrapper
	position absolute
	top 10px
	left 50px
	width 100%
	//border 1px solid red
	
#chart_container
	height 100%
	
.area_edit_radius_label
	font-weight normal
	position absolute
	left 0px
	padding-left 0px

.leaflet-buttons-control-toggleon
	border 20px
	
.edit_image_container
	position relative
	display inline-block
	text-align center
	border 1px solid red
	
.edit_image_button
	position absolute
	bottom 10px
	right 10px
	width 100px
	height 30px
	
#area_buttons_div
	background-color rgba(255,255,255,0.5)
	margin-left 20px
	
#area_buttons_label
	padding-left 10px
	padding-right 10px

.top-buffer
	margin-top 1em
	
.map_box_control
	position relative
	float left
	background #fff
	color #1978cf
	-moz-border-radius 4px
	-webkit-border-radius 4px
	border-radius 4px
	background-color rgba(255, 255, 255, 0.8)
	z-index 1000
	box-shadow 0 1px 7px rgba(0,0,0,0.65)
	margin-left 10px
	margin-top 10px

.map_box_control_locate_button {
	display:block;
	float:left;
	width:26px;
	height:26px;	
	background: url('../images/geo_locate_4.png') no-repeat 3px 2px;
	border-radius:4px;
}
.map_box_control_locate_button:hover {
	background: url('../images/geo_locate_4.png') no-repeat 3px -21px;
}

.feature_info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
}


.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display: block; }

.ui-resizable-s {
	background-color: #fafafa;
    background: linear-gradient(#fafafa, #f0f0f0);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    height:10px;
}

.ui-resizable-s:after {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  height: 2px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px;
}

